* { padding: 0; margin: 0; font-family: Century Schoolbook ;}

html { scroll-behavior: smooth; }

/*
body div.container { background-color: #f1f1f1;	display: block;	width: 100%; height: 100vh;	text-align: center;}

body div.container header { width: 100%; height: 50px; }
body div.container header h1 { font-size: 35px; margin: 0px 0px; margin-left: 35px; color: #007bff; background-color: transparent; border-bottom: 2px solid transparent; text-shadow: 3px 3px 3px rgba(10,10,10,.5); font-weight: 500; }
body div.container header h1:hover { color: #0056b3; }

body div.container header nav.menu { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; }

body div.container header nav.menu ul { display: flex;	flex-wrap: wrap; justify-content: space-around;	padding:0px 35px; }
body div.container header nav.menu ul li { height: 100%; font-weight: 500; font-size: 20px; margin: 0px 10px; color: #e5e7e9; border-bottom: 2px solid transparent; text-shadow: 3px 3px 3px rgba(10,10,10,.5); }
body div.container header nav.menu ul li a { text-decoration: none;	color: #007bff;	background-color: transparent; }
body div.container header nav.menu ul li a:hover { color: #0056b3; }

body div.container div.cont { display: flex; width: 90%; background-color: #e1e1e1; margin: auto; padding: 10px; }

body div.container div.cont table { display: flex; margin-left: auto; margin-right: auto; margin-top: 50px; }
body div.container div.cont table tbody tr { font-size: 25px; height: 40px; }
body div.container div.cont table tbody th { font-size: 30px; }
body div.container div.cont table tbody td { width: 15rem; }

body div.container div.cont div.card { display: inline-block; margin-left: auto; margin-right: auto; margin-top: 50px; }

body div.container div.cont div.card div.card-img img{ width: 350px; height: 200px; }

body div.container div.cont div.card div.card-body { height: 150px; }
body div.container div.cont div.card div.card-body p { font-size: 45px; background-color: transparent; padding: 5px; text-decoration: none; margin: 0px 0px; }

*/
body div.container div.connok { display: block; text-align: center; background-color: #1e6; color: #fff;  width: 100%; padding: 8px; }
body div.container div.connerr { display: block; text-align: center; background-color: #a22; color: #fff; width: 100%; padding: 8px; }